CollegeApp/force-app/main/default/flows/Application_Notification_of_applicant_admin_staff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Candidate</name>
        <label>Send Email to Candidate</label>
        <locationX>1634</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Create_Error_6</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>changeforceinternship@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank You: Application Received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailtoCandidate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_Staff1</name>
        <label>Assignment Staff1</label>
        <locationX>1722</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>staff1Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIdstaff1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>staff1Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Staff_2</name>
        <label>Assignment Staff 2</label>
        <locationX>1986</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>staff2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipentIdstaff2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>staff2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Staff_3</name>
        <label>Assignment Staff 3</label>
        <locationX>2250</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>staff3Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientstaffId3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>staff3Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Staff_6</name>
        <label>Assignment Staff 6</label>
        <locationX>2514</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>staff6Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIdstaff6</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>staff6Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copy_1_of_Create_Error_1</name>
        <label>Create Error 2</label>
        <locationX>1370</locationX>
        <locationY>1355</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Create_Error_6</name>
        <label>Email Action Error</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Update_Error_3</name>
        <label>Update Error 6</label>
        <locationX>2690</locationX>
        <locationY>1463</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_2_of_Create_Error_1</name>
        <label>Create Error 3</label>
        <locationX>2162</locationX>
        <locationY>1355</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_3_of_Create_Error_1</name>
        <label>Create Error 6</label>
        <locationX>2954</locationX>
        <locationY>1355</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_4_of_Create_Error_1</name>
        <label>Update Error 1</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_5_of_Create_Error_1</name>
        <label>Update Error 2</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Create_Error</name>
        <label>Create Error 1</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Update_Error_3</name>
        <label>Update Error 3</label>
        <locationX>1898</locationX>
        <locationY>1463</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Assignment_User_and_Recipient_Id</name>
        <label>Assignment User and Recipient Id</label>
        <locationX>2250</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>User_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staff1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Loop.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmployeeStaff1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Staff1</targetReference>
            </connector>
            <label>Staff1</label>
        </rules>
        <rules>
            <name>Staff2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Loop.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmployeeStaff2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Staff_2</targetReference>
            </connector>
            <label>Staff2</label>
        </rules>
        <rules>
            <name>Staff3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Loop.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmployeeStaff3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Staff_3</targetReference>
            </connector>
            <label>Staff3</label>
        </rules>
        <rules>
            <name>Staff6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Loop.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmployeeStaff6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Staff_6</targetReference>
            </connector>
            <label>Staff6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Program</name>
        <label>Decision for Program</label>
        <locationX>1634</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Math</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Math</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_Staff1</targetReference>
            </connector>
            <label>Math</label>
        </rules>
        <rules>
            <name>Science</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Science</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_Staff2</targetReference>
            </connector>
            <label>Science</label>
        </rules>
        <rules>
            <name>Art</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Art</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_Staff3</targetReference>
            </connector>
            <label>Art</label>
        </rules>
        <rules>
            <name>Computer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Computer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_Staff6</targetReference>
            </connector>
            <label>Computer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Recieved Email to Candidate and Task to Staff</label>
    <loops>
        <name>User_Loop</name>
        <label>User Loop</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_User_and_Recipient_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_for_Program</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_to_Staff1</name>
        <label>Task to Staff1</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>update_records_related_to_staff1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionrich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff1Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_to_Staff2</name>
        <label>Task to Staff2</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>update_records_related_to_staff2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Create_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionrich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_to_Staff3</name>
        <label>Task to Staff3</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>update_records_related_to_staff3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Create_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionrich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff3Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_to_Staff6</name>
        <label>Task to Staff6</label>
        <locationX>2426</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>update_records_related_to_staff6</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Create_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionrich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff6Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Role</name>
        <label>Get Role</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Role.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_records_related_to_staff1</name>
        <label>update records related to staff1</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <faultConnector>
            <targetReference>Copy_4_of_Create_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff1Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_records_related_to_staff2</name>
        <label>update records related to staff2</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <faultConnector>
            <targetReference>Copy_5_of_Create_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff2Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_records_related_to_staff3</name>
        <label>update records related to staff3</label>
        <locationX>1634</locationX>
        <locationY>1355</locationY>
        <faultConnector>
            <targetReference>Update_Error_3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff3Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_records_related_to_staff6</name>
        <label>update records related to staff6</label>
        <locationX>2426</locationX>
        <locationY>1355</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Update_Error_3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>staff6Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Candidate</targetReference>
        </connector>
        <object>Candidate__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>descriptionrich</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello, 
I wanted to inform you that we have received an application. Their application has been successfully received, and the evaluation process has begun.  This candidate selected {!$Record.Program__c}. Please change Candidate&apos;s stage field from NONE to IN PROGRESS when you start to work with this candidate. We will keep you updated on the progress.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailtoAdmin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!User_Loop.Name},

I wanted to inform you that we have received an application from {!$Record.Name}.Their application has been successfully received, and the evaluation process has begun. We will keep you updated on the progress.



Best regards,</text>
    </textTemplates>
    <textTemplates>
        <name>EmailtoCandidate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Our new candidate,
Thank you for your application! Your application has been successfully received. The evaluation process has commenced, and we will carefully review your application. We will be in touch with you soon.

Best regards,</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear User,
New candidate named {!$Record.Name} {!$Record.LastName__c} has applied from our website. Your new task has been created.Please follow up.</text>
    </textTemplates>
    <textTemplates>
        <name>Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;I wanted to inform you that we have received an application from {!$Record.Name}.Their application has been successfully received, and the evaluation process has begun. We will keep you updated on the progress.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipentIdstaff2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIdstaff1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIdstaff6</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientstaffId3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>staff1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>staff2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>staff3Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>staff6Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
