CollegeApp/force-app/main/default/flows/Get_Nearby_Places.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_NearBy_Places</name>
        <label>Get NearBy Places</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>FoursquareExternalService4.Foursquare HTTP Callout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Loop_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>query</name>
            <value>
                <stringValue>restaurant</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>near</name>
            <value>
                <stringValue>2624 Clifton Avenue, Cincinnati, OH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field</name>
            <value>
                <stringValue>name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sort</name>
            <value>
                <stringValue>distance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>limit</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>FoursquareExternalService4.Foursquare HTTP Callout</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Names</name>
        <label>Assign Names</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>names</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Output.name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Output</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>namesFormula</name>
        <dataType>String</dataType>
        <expression>{!names}</expression>
    </formulas>
    <interviewLabel>Get Nearby Places {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Get Nearby Places</label>
    <loops>
        <name>Loop_Output</name>
        <label>Loop Output</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_NearBy_Places.2XX.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>restaurantNamesLWC</name>
            <extensionName>c:forGetNearbyPlaces</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>namesFormula</name>
                <value>
                    <elementReference>namesFormula</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NearBy_Places</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CSS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;uiModal flowruntime-flow {&lt;/p&gt;&lt;p&gt;background-image: url(&quot;https://salesforcetime.com/wp-content/uploads/2021/04/sfba3.jpg&quot;) !important;&lt;/p&gt;&lt;p&gt;background-repeat: no-repeat !important;&lt;/p&gt;&lt;p&gt;background-position: center;&lt;/p&gt;&lt;p&gt;background-size: cover;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;&lt;p&gt;uiModal flowruntime-navigation-bar {&lt;/p&gt;&lt;p&gt;background-color: grey !important;&lt;/p&gt;&lt;p&gt;border-width: 0 !important;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
