CollegeApp/force-app/main/default/flows/Get_Nearby_Parks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Nearby_Parks</name>
        <label>Get Nearby Parks</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>FoursquareExternalService6.Get Nearby Parks</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Transform_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>query</name>
            <value>
                <stringValue>park</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>near</name>
            <value>
                <stringValue>2600 Clifton Ave Cincinnati, OH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sort</name>
            <value>
                <stringValue>distance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>limit</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fields</name>
            <value>
                <stringValue>name</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FoursquareExternalService6.Get Nearby Parks</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Names</name>
        <label>Assign Names</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>parkNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>parkNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!parkNames}</expression>
    </formulas>
    <interviewLabel>Get Nearby Parks {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Get Nearby Parks</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Transform_Output</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Output_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>parkNamesOutput</name>
            <extensionName>c:forGetNearParks</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parkNamesFormula</name>
                <value>
                    <elementReference>parkNamesFormula</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Nearby_Parks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Output</name>
        <label>Transform Output</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <apexClass>ExternalService__FoursquareExternalService6_Getx20Nearbyx20Parks_OUT_2XX_results</apexClass>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Nearby_Parks.2XX.results[$EachItem].name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>parkNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
